name: Deploy to AWS Bedrock Agentcore

on:
  push:
    branches: [ "main" ]

env:
  AWS_REGION: ${{ secrets.AWS_ACCESS_KEY_ID }}                   
  ECR_REPOSITORY: ${{ secrets.ECR_REPOSITORY }}           
  
permissions:
  contents: read

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    environment: production

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ env.AWS_REGION }}

    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v1

    - name: Build, tag, and push image to Amazon ECR
      id: build-image
      env:
        ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        IMAGE_TAG: ${{ github.sha }}
        AWS_ACCOUNT_ID: ${{ env.AWS_ACCOUNT_ID }}
        AWS_REGION: ${{ env.AWS_REGION }}
      run: |
        # Build and push to ECR
        docker buildx build --platform linux/arm64 -t $AWS_ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com/teacher-assistant:latest --push .
        # echo "image=$ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG" >> $GITHUB_OUTPUT

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.x'

    - name: Install dependencies
      run: |
        uv add boto3 python-dotenv

    - name: Run deployment script
      env:
        ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID }}
      run: |
        python infra/deploy_agent.py
        
